code-samples/gesture_flow.json
[{"id":"8ee09a73.220828","type":"wemo out","z":"8448848d.b40aa8","name":"","device":"5ca2d31d.a273fc","x":550,"y":60,"wires":[]},{"id":"ea2d1220.61aaf","type":"artik cloud in","z":"8448848d.b40aa8","name":"","uid":"4a21ea55e4a745f3b034aac9d32bef87","deviceid":"","token":"","enableMessage":false,"enableAction":true,"x":110,"y":220,"wires":[["fdc58711.bd80c8"]]},{"id":"fdc58711.bd80c8","type":"function","z":"8448848d.b40aa8","name":"Convert","func":"var value = msg.actions[0].name;\nif (value === \"toggle\") {\n   if (global.get(\"wemo_state\") === \"on\") {\n        msg.payload = \"off\";\n    } else {\n        msg.payload = \"on\";\n    }\n} else {\n    msg.payload = value.substring(3).toLowerCase();\n}\nglobal.set(\"wemo_state\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":220,"wires":[["a540e665.a054c8"]]},{"id":"e5c22c5a.97057","type":"wemo in","z":"8448848d.b40aa8","name":"","topic":"wemo","device":"5ca2d31d.a273fc","x":130,"y":140,"wires":[["856da403.cbb838"]]},{"id":"290053e0.9663fc","type":"inject","z":"8448848d.b40aa8","name":"","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"x":130,"y":60,"wires":[["5a69b669.dc3338"]]},{"id":"12efeb5a.59d955","type":"function","z":"8448848d.b40aa8","name":"Logic","func":"var old_proximity = global.get(\"proximity\") || 0;\nvar new_proximity = msg.payload;\nif (old_proximity <= 3000 && new_proximity > 3000) {\n    if (global.get(\"wemo_state\") === \"on\") {\n        msg.payload = \"off\";\n        global.set(\"wemo_state\", \"off\");\n    } else {\n        msg.payload = \"on\";\n        global.set(\"wemo_state\", \"on\");\n    }\n} else {\n    msg.payload =  global.get(\"wemo_state\");\n}\nglobal.set(\"proximity\", new_proximity);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":60,"wires":[["8ee09a73.220828"]]},{"id":"5a69b669.dc3338","type":"artik_adc","z":"8448848d.b40aa8","name":"Pin 0","pin":"0","platform":"7","x":270,"y":60,"wires":[["12efeb5a.59d955"]]},{"id":"a540e665.a054c8","type":"wemo out","z":"8448848d.b40aa8","name":"","device":"5ca2d31d.a273fc","x":430,"y":220,"wires":[]},{"id":"856da403.cbb838","type":"artik cloud out","z":"8448848d.b40aa8","name":"","deviceid":"","token":"","x":300,"y":140,"wires":[]},{"id":"5ca2d31d.a273fc","type":"wemo-dev","z":"","device":"221448K12007F1","name":"WeMo Insight"}]