code-samples/NodeRedFlow_SmarterTrashCan.txt
[{"id":"4348e0a4.b7faf","type":"exec","z":"b4bc743b.885c68","command":"python /root/photo.py","addpay":true,"append":"","useSpawn":"","timer":"","name":"TakePhoto","x":728,"y":240.5,"wires":[["f876df51.6f5b7"],[],[]]},{"id":"f876df51.6f5b7","type":"exec","z":"b4bc743b.885c68","command":"node /root/upload.js","addpay":true,"append":"","useSpawn":"","timer":"","name":"UploadPhoto","x":913,"y":240.5,"wires":[["201cd12e.72a2fe"],[],[]]},{"id":"a408640.6d5b9a","type":"watch","z":"b4bc743b.885c68","name":"Check Loaded File Name","files":"/root/output","x":146.5,"y":316,"wires":[["832e2e9b.09857"]]},{"id":"201cd12e.72a2fe","type":"debug","z":"b4bc743b.885c68","name":"","active":false,"console":"false","complete":"false","x":1092.5,"y":237,"wires":[]},{"id":"832e2e9b.09857","type":"file in","z":"b4bc743b.885c68","name":"Read Output","filename":"/root/output","format":"utf8","x":386.5,"y":313,"wires":[["a5cefe4d.534b4"]]},{"id":"1222869b.b8d079","type":"function","z":"b4bc743b.885c68","name":"Add jpg","func":"\nvar jpgFile = {payload: msg.payload + \".jpg\"};\nreturn jpgFile;","outputs":1,"noerr":0,"x":781.5,"y":317,"wires":[["d7933421.30dcf8"]]},{"id":"2f33b6e7.8d02fa","type":"exec","z":"b4bc743b.885c68","command":"/root/.local/bin/aws rekognition detect-labels --region us-east-1","addpay":true,"append":"","useSpawn":"","timer":"","name":"aws rekognition command","x":407.5,"y":454.5,"wires":[["2df8b122.c1108e"],[],[]]},{"id":"d7933421.30dcf8","type":"function","z":"b4bc743b.885c68","name":"Compose the string","func":"var file = msg.payload;\nvar str = '--image \"{\\\\\"S3Object\\\\\":{\\\\\"Bucket\\\\\":\\\\\"artiktest\\\\\",\\\\\"Name\\\\\":';\nvar str = str + '\\\\\"' + msg.payload + '\\\\\"' + '}}\" ';\nmsg.payload = str;\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":954.5,"y":316,"wires":[["2f33b6e7.8d02fa","baf85f4b.f8a6d"]]},{"id":"26402e1f.1bdcd2","type":"inject","z":"b4bc743b.885c68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":102,"y":640.5,"wires":[["e8aaa.919965568"]]},{"id":"2df8b122.c1108e","type":"json","z":"b4bc743b.885c68","name":"parse","x":664,"y":443,"wires":[["8d9cc3cb.56461","9f76d6fc.9c53e8"]]},{"id":"9f76d6fc.9c53e8","type":"function","z":"b4bc743b.885c68","name":"parse output","func":"var labelLength = 0;\nvar typeNumber = 0;\nvar itemString;\n\nconsole.log(msg.payload.Labels.length);\n//console.log('a: '+msg.payload.Labels[0].Name);\n\n\nif (msg.payload.Labels.length >3)\n{\n    labelLength =3;\n}else\n{\n    labelLength = msg.payload.Labels.length;\n    \n}\n\nfor  (i=0;i<labelLength;i++)\n  {\n        var parsed = msg.payload.Labels[i].Name;\n        console.log('Item: '+parsed);\n        \n        itemString += ' '+ parsed;\n  }\n\nif (labelLength === 0)\n{\n    itemString = 'Food';\n    \n}\nconsole.log(itemString);\n\n if (itemString.indexOf('Can')>0  || itemString.indexOf('Water')>0 || itemString.indexOf('Cooker')>0 || itemString.indexOf('Beverage')>0 || itemString.indexOf('Coke')>0 || itemString.indexOf('Soda')>0 || itemString.indexOf('Saucer')>0 ||itemString.indexOf('Bowl')>0 || itemString.indexOf('Coffee Cup')>0  || itemString.indexOf('Cup')>0  || itemString.indexOf('Glass')>0 || itemString.indexOf('Plastic')>0 || itemString.indexOf('Bottle')>0 || itemString.indexOf('Jug')>0  || itemString.indexOf('Drink')>0 )\n{\n    typeNumber =1;\n}else\nif (itemString.indexOf('Paper')>0 || itemString.indexOf('File')>0 || itemString.indexOf('Handwriting')>0 || itemString.indexOf('Bonnet')>0 || itemString.indexOf('Brochure')>0 || itemString.indexOf('Diary')>0  || itemString.indexOf('Document')>0  || itemString.indexOf('Text')>0)\n{\n    typeNumber =2;\n}else\n{\n    typeNumber =3;\n    \n}\n\nconsole.log('typeNumber: ' + typeNumber);\n\nmsg.payload = typeNumber;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":845.0000228881836,"y":447.00001335144043,"wires":[["6502e3f4.57bbdc","2b254f18.15663"]]},{"id":"5de8c7b5.01bb38","type":"exec","z":"b4bc743b.885c68","command":"echo 1 > /sys/class/gpio/gpio128/value ","addpay":false,"append":"","useSpawn":"","timer":"","name":"1 to 128","x":547.5,"y":558.5,"wires":[["6b8e3f33.12d3b"],[],[]]},{"id":"c838f979.7e85f8","type":"exec","z":"b4bc743b.885c68","command":"echo 128 > /sys/class/gpio/export","addpay":true,"append":"","useSpawn":"","timer":"","name":"128 export","x":355.5,"y":88.5,"wires":[["ca05ac3f.2a15c"],[],[]]},{"id":"ca05ac3f.2a15c","type":"exec","z":"b4bc743b.885c68","command":"echo out > /sys/class/gpio/gpio128/direction","addpay":true,"append":"","useSpawn":"","timer":"","name":"128 out","x":552.5,"y":87.5,"wires":[["2e4a209b.990a9"],[],[]]},{"id":"95e65ee2.fac74","type":"inject","z":"b4bc743b.885c68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":138.5,"y":89,"wires":[["c838f979.7e85f8"]]},{"id":"92f60473.d09868","type":"inject","z":"b4bc743b.885c68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103.5,"y":560,"wires":[["f05837dd.e126b8"]]},{"id":"f05837dd.e126b8","type":"looptimer","z":"b4bc743b.885c68","duration":"2","units":"Second","maxloops":"1","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":345.5,"y":560,"wires":[["5de8c7b5.01bb38"],[]]},{"id":"c3593d40.c001a","type":"delay","z":"b4bc743b.885c68","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":922.5,"y":561,"wires":[["282f4e4e.ef5d62"]]},{"id":"282f4e4e.ef5d62","type":"exec","z":"b4bc743b.885c68","command":"echo 0 > /sys/class/gpio/gpio128/value ","addpay":false,"append":"","useSpawn":"","timer":"","name":"0 to 128","x":1084.5,"y":559.5,"wires":[["91097ffa.56084"],[],[]]},{"id":"2e4a209b.990a9","type":"exec","z":"b4bc743b.885c68","command":"echo 129 > /sys/class/gpio/export","addpay":true,"append":"","useSpawn":"","timer":"","name":"129 export","x":763,"y":85.5,"wires":[["f024aaa1.47d488"],[],[]]},{"id":"f024aaa1.47d488","type":"exec","z":"b4bc743b.885c68","command":"echo out > /sys/class/gpio/gpio129/direction","addpay":true,"append":"","useSpawn":"","timer":"","name":"129 out","x":971,"y":84.5,"wires":[[],[],[]]},{"id":"6b8e3f33.12d3b","type":"exec","z":"b4bc743b.885c68","command":"echo 0 > /sys/class/gpio/gpio129/value ","addpay":true,"append":"","useSpawn":"","timer":"","name":"0 to 129","x":735,"y":561.5,"wires":[["c3593d40.c001a"],[],[]]},{"id":"91097ffa.56084","type":"exec","z":"b4bc743b.885c68","command":"echo 1 > /sys/class/gpio/gpio129/value ","addpay":true,"append":"","useSpawn":"","timer":"","name":"1 to 129","x":1254,"y":554.5,"wires":[[],[],[]]},{"id":"6502e3f4.57bbdc","type":"switch","z":"b4bc743b.885c68","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","outputs":3,"x":1054,"y":442,"wires":[["f05837dd.e126b8"],["e8aaa.919965568"],["d9c8ee90.10801"]]},{"id":"cfa88d50.65ceb","type":"exec","z":"b4bc743b.885c68","command":"echo 130 > /sys/class/gpio/export","addpay":true,"append":"","useSpawn":"","timer":"","name":"130 export","x":355,"y":128.5,"wires":[["608455fb.5eb58c"],[],[]]},{"id":"608455fb.5eb58c","type":"exec","z":"b4bc743b.885c68","command":"echo out > /sys/class/gpio/gpio130/direction","addpay":true,"append":"","useSpawn":"","timer":"","name":"130 out","x":553,"y":131.5,"wires":[["7604b836.a08b38"],[],[]]},{"id":"7604b836.a08b38","type":"exec","z":"b4bc743b.885c68","command":"echo 46 > /sys/class/gpio/export","addpay":true,"append":"","useSpawn":"","timer":"","name":"46 export","x":757,"y":130.5,"wires":[["1351c2b.8b21d3d"],[],[]]},{"id":"1351c2b.8b21d3d","type":"exec","z":"b4bc743b.885c68","command":"echo out > /sys/class/gpio/gpio46/direction","addpay":true,"append":"","useSpawn":"","timer":"","name":"46 out","x":962,"y":128.5,"wires":[[],[],[]]},{"id":"f8a17163.40dd5","type":"inject","z":"b4bc743b.885c68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":128,"wires":[["cfa88d50.65ceb"]]},{"id":"e8aaa.919965568","type":"looptimer","z":"b4bc743b.885c68","duration":"2","units":"Second","maxloops":"1","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":292,"y":640,"wires":[["af24ec30.38d8d"],[]]},{"id":"af24ec30.38d8d","type":"exec","z":"b4bc743b.885c68","command":"echo 1 > /sys/class/gpio/gpio130/value ","addpay":true,"append":"","useSpawn":"","timer":"","name":"1 to 130","x":540,"y":636.5,"wires":[["1ab9e470.f30e8c"],[],[]]},{"id":"1ab9e470.f30e8c","type":"exec","z":"b4bc743b.885c68","command":"echo 0 > /sys/class/gpio/gpio46/value ","addpay":true,"append":"","useSpawn":"","timer":"","name":"0 to 46","x":723,"y":634.5,"wires":[["e6174532.a3a918"],[],[]]},{"id":"e6174532.a3a918","type":"delay","z":"b4bc743b.885c68","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":911,"y":632,"wires":[["7c80b9a4.032978"]]},{"id":"7c80b9a4.032978","type":"exec","z":"b4bc743b.885c68","command":"echo 0 > /sys/class/gpio/gpio130/value ","addpay":true,"append":"","useSpawn":"","timer":"","name":"0 to 130","x":1086,"y":633.5,"wires":[["2e3fb8b5.ee4708"],[],[]]},{"id":"2e3fb8b5.ee4708","type":"exec","z":"b4bc743b.885c68","command":"echo 1 > /sys/class/gpio/gpio46/value ","addpay":true,"append":"","useSpawn":"","timer":"","name":"1 to 46","x":1261,"y":630.5,"wires":[[],[],[]]},{"id":"2b254f18.15663","type":"debug","z":"b4bc743b.885c68","name":"","active":true,"console":"false","complete":"false","x":1090,"y":379,"wires":[]},{"id":"8d9cc3cb.56461","type":"debug","z":"b4bc743b.885c68","name":"","active":true,"console":"false","complete":"false","x":831,"y":394,"wires":[]},{"id":"baf85f4b.f8a6d","type":"debug","z":"b4bc743b.885c68","name":"","active":true,"console":"false","complete":"false","x":1170,"y":296,"wires":[]},{"id":"a5cefe4d.534b4","type":"switch","z":"b4bc743b.885c68","name":"Check Image Avail","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"neq","v":"","vt":"str"}],"checkall":"true","outputs":2,"x":576,"y":313,"wires":[[],["1222869b.b8d079"]]},{"id":"6df60e05.b8642","type":"inject","z":"b4bc743b.885c68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":711,"wires":[["d9c8ee90.10801"]]},{"id":"d9c8ee90.10801","type":"looptimer","z":"b4bc743b.885c68","duration":"2","units":"Second","maxloops":"1","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":292,"y":712,"wires":[["1221125.cd19eee"],[]]},{"id":"1221125.cd19eee","type":"exec","z":"b4bc743b.885c68","command":"echo 1 > /sys/class/gpio/gpio14/value ","addpay":true,"append":"","useSpawn":"","timer":"","name":"1 to 14","x":495,"y":707.5,"wires":[["507a07ae.426c28"],[],[]]},{"id":"507a07ae.426c28","type":"exec","z":"b4bc743b.885c68","command":"echo 0 > /sys/class/gpio/gpio41/value ","addpay":true,"append":"","useSpawn":"","timer":"","name":"0 to 41","x":665,"y":707.5,"wires":[["514b4385.302bcc"],[],[]]},{"id":"4a1353d1.48f62c","type":"exec","z":"b4bc743b.885c68","command":"echo 0 > /sys/class/gpio/gpio14/value ","addpay":true,"append":"","useSpawn":"","timer":"","name":"0 to 14","x":1071,"y":711.5,"wires":[["8fd99d9.627566"],[],[]]},{"id":"8fd99d9.627566","type":"exec","z":"b4bc743b.885c68","command":"echo 1 > /sys/class/gpio/gpio41/value ","addpay":true,"append":"","useSpawn":"","timer":"","name":"1 to 41","x":1263,"y":707.5,"wires":[[],[],[]]},{"id":"f0443d9d.d6592","type":"exec","z":"b4bc743b.885c68","command":"echo 14 > /sys/class/gpio/export","addpay":true,"append":"","useSpawn":"","timer":"","name":"14 export","x":347.0000305175781,"y":175.50006103515625,"wires":[["72d200f1.f1052"],[],[]]},{"id":"72d200f1.f1052","type":"exec","z":"b4bc743b.885c68","command":"echo out > /sys/class/gpio/gpio14/direction","addpay":true,"append":"","useSpawn":"","timer":"","name":"14 out","x":544,"y":175.5,"wires":[["db543c90.cfda7"],[],[]]},{"id":"db543c90.cfda7","type":"exec","z":"b4bc743b.885c68","command":"echo 41 > /sys/class/gpio/export","addpay":true,"append":"","useSpawn":"","timer":"","name":"41 export","x":757,"y":174.5,"wires":[["408ad930.ba5e28"],[],[]]},{"id":"408ad930.ba5e28","type":"exec","z":"b4bc743b.885c68","command":"echo out > /sys/class/gpio/gpio41/direction","addpay":true,"append":"","useSpawn":"","timer":"","name":"41 out","x":962,"y":171.5,"wires":[[],[],[]]},{"id":"28e3acc.c2b4e54","type":"inject","z":"b4bc743b.885c68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":141,"y":174,"wires":[["f0443d9d.d6592"]]},{"id":"514b4385.302bcc","type":"delay","z":"b4bc743b.885c68","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":855,"y":712,"wires":[["4a1353d1.48f62c"]]},{"id":"2140dd5b.e7f5b2","type":"file in","z":"b4bc743b.885c68","name":"Read RedButton","filename":"/sys/class/gpio/gpio25/value","format":"utf8","x":353,"y":244,"wires":[["ae74375.ad240c8"]]},{"id":"ae74375.ad240c8","type":"switch","z":"b4bc743b.885c68","name":"Read Value","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":562,"y":242,"wires":[["4348e0a4.b7faf"]]},{"id":"b0621f52.9c31c","type":"inject","z":"b4bc743b.885c68","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":132,"y":237,"wires":[["2140dd5b.e7f5b2"]]},{"id":"a45d2c36.3dd44","type":"inject","z":"b4bc743b.885c68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":121,"y":48,"wires":[["66e39747.3b7698"]]},{"id":"66e39747.3b7698","type":"exec","z":"b4bc743b.885c68","command":"","addpay":true,"append":"","useSpawn":"","timer":"","name":"25 export","x":345,"y":41.5,"wires":[["d79c0bad.ed8c28"],[],[]]},{"id":"d79c0bad.ed8c28","type":"exec","z":"b4bc743b.885c68","command":"","addpay":true,"append":"","useSpawn":"","timer":"","name":"25 in","x":540,"y":38.5,"wires":[[],[],[]]}]