code-samples/node-red-flow-07-26-16.txt
[{"id":"9b0aa90e.8fa1f8","type":"mqtt-broker","z":"d03b90f2.ff2a9","broker":"192.168.43.21","port":"1883","clientid":"","usetls":false,"verifyservercert":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"4b1f12d8.2690bc","type":"mqtt out","z":"d03b90f2.ff2a9","name":"","topic":"sliderSetting","qos":"","retain":"","broker":"9b0aa90e.8fa1f8","x":1095.8000030517578,"y":205.00000381469727,"wires":[]},{"id":"1a36c72a.189f49","type":"mqtt in","z":"d03b90f2.ff2a9","name":"","topic":"outTemp","broker":"9b0aa90e.8fa1f8","x":376.79998779296875,"y":606.0000953674316,"wires":[["9cd51852.297218"]]},{"id":"b1a6b631.b9e048","type":"template","z":"d03b90f2.ff2a9","name":"Web code - gauges and sliders","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n<head>\n  <script src=\"http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js\"></script>\n  <script src=\"http://cdn.jsdelivr.net/justgage/1.0.1/justgage.min.js\"></script>\n\n  <style>\n    html {\n      font-family: Arial;\n    }\n  </style>\n</head>\n\n<body>\n  <table width=\"250\">\n    <tr>\n      <td>Temp Setting: </td>\n      <td id=\"valGreen\">80</td>\n    </tr>\n\n    <tr>\n      <td width=\"75%\"><input onchange=\"changeGreen(this.value)\" type=\"range\" id=\"slideGreen\" value=\"80\" min=\"60\" max=\"90\" style=\"width:90%\"></td>\n      <td><div id=\"change\" style=\"height:35px\"></div></td>\n    </tr>\n\n    <tr>\n       <td id=\"acIcon\"></td>\n       <td><div id=\"changetxt\"></div></td>\n    </tr>\n\n    <tr>\n       <td colspan=3 id=\"gauge2\" class=\"200x140px\"></td>\n    </tr>\n\n    <tr>\n       <td colspan=3 id=\"gauge\" class=\"200x160px\"></td>\n    </tr>\n  </table>\n\n  <table>\n    <tr>\n      <td align=\"center\" style=\"width:70%\">Manual AC Control </td>\n      <td> <button onclick=\"acOn()\">ON</button>\n      <button onclick=\"acOff()\">OFF</button> </td>\n      <td></td>\n    </tr>\n  </table>\n\n  <script>\n    function acOn() {\n      console.log('AC on');\n    }\n    function acOff() {\n      console.log('AC off');\n    }\n\n    var x;\n    var iconColor = 'Black';\n    var myVar = setInterval(myTimer, 500);\n\n    function myTimer() {\n      // Get incoming data from MQTT nodes as part of \"data\" object\n      var obj;\n      var site = new XMLHttpRequest();\n\n      site.open(\"GET\", \"/data\", true);\n      site.send();\n\n      site.onreadystatechange = function() {\n        if (site.readyState == 4 && site.status == 200) {\n          obj = JSON.parse(site.responseText);\n\n          console.log(obj);\n\n          // Refresh the gauges\n          g2.refresh(obj.insTemp);\n          g.refresh(obj.outTemp);\n\n          // Refresh the slider area\n          document.getElementById('slideGreen').value = obj.desTemp;\n\n          var valGreen = parseInt(document.getElementById('valGreen').innerHTML);\n\n          if (obj.desTemp != valGreen) {\n            document.getElementById('change').style.backgroundColor = \"rgb(255,\" + obj.desTemp + \", 0)\";\n            document.getElementById('changetxt').innerHTML = \"Action:\" + obj.desTemp;\n          } else {\n            document.getElementById('change').style.backgroundColor = \"rgb(0,\" + Math.floor(obj.desTemp * 2.5) + \", 0)\";\n            document.getElementById('changetxt').innerHTML = obj.desTemp;\n          }\n\n          if (obj.compOnCtl == \"true\") {\n            if (iconColor=='Black') {\n              document.getElementById('acIcon').innerHTML = \"<font color='Gray' size='24'><b>*</b></font>\";\n              iconColor='Gray';\n            } else {\n              document.getElementById('acIcon').innerHTML = \"<font color='Black' size='24'><b>*</b></font>\";\n              iconColor='Black';\n            }\n          } else {\n            document.getElementById('acIcon').innerHTML = \"<font color='LightGray' size='24'><b>*</b></font>\";\n          }\n        }\n      }\n    }\n    </script>\n\n    <script>\n      var g = new JustGage({\n        id: \"gauge\",\n        value: 70,\n        min: 0,\n        max: 150,\n        title: \"Outside Temp (F)\"\n      });\n\n      var g2 = new JustGage({\n        id: \"gauge2\",\n        value: 70,\n        min: 50,\n        max: 100,\n        title: \"Inside Temp (F)\"\n      });\n    </script>\n\n    <script>\n      changeAll();\n\n      function changeGreen(value) {\n        document.getElementById('valGreen').innerHTML = value;\n        changeAll();\n      }\n\n      function changeAll() {\n        var g = document.getElementById('valGreen').innerHTML;\n        var r = 0;\n        var b = 0;\n\n        // Send out new slider setting\n        var MQTTsite = new XMLHttpRequest();\n        MQTTsite.open(\"POST\", \"/mcp\", true);\n        MQTTsite.setRequestHeader('Content-Type', 'application/json');\n        MQTTsite.send(JSON.stringify({\n          \"sliderSetting\": g\n        }));\n      }\n  </script>\n\n</body>\n</html>\n","x":790.8000335693359,"y":75,"wires":[["6af1af02.4618"]]},{"id":"a0b86ce1.2162b","type":"http in","z":"d03b90f2.ff2a9","name":"Master Control Panel (get display)","url":"/mcp","method":"get","swaggerDoc":"","x":448.8000030517578,"y":91,"wires":[["b1a6b631.b9e048"]]},{"id":"6af1af02.4618","type":"http response","z":"d03b90f2.ff2a9","name":"","x":1077.800064086914,"y":88.00000381469727,"wires":[]},{"id":"60ebc2c4.8ff0cc","type":"http in","z":"d03b90f2.ff2a9","name":"Master Control Panel (post inputs)","url":"/mcp","method":"post","swaggerDoc":"","x":446.8000030517578,"y":208.00000381469727,"wires":[["b1a6b631.b9e048","6a801109.7b072"]]},{"id":"6a801109.7b072","type":"function","z":"d03b90f2.ff2a9","name":"Color Payload","func":"var x = msg.payload.sliderSetting;\n\n//z = String(x.slice(2,4));\n\n//flow.set('desTemp',z)\nmsg.payload= x;\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":743.8000030517578,"y":208.00000381469727,"wires":[["4b1f12d8.2690bc"]]},{"id":"ba2e7b61.8666e8","type":"mqtt in","z":"d03b90f2.ff2a9","name":"","topic":"insTemp","broker":"9b0aa90e.8fa1f8","x":376,"y":539.2000160217285,"wires":[["47ce4088.f8857"]]},{"id":"9cd51852.297218","type":"function","z":"d03b90f2.ff2a9","name":"set outTemp flow var","func":"flow.set('outTemp',msg.payload);","outputs":1,"noerr":0,"x":669.0000152587891,"y":579.2000465393066,"wires":[[]]},{"id":"47ce4088.f8857","type":"function","z":"d03b90f2.ff2a9","name":"set insTemp flow var","func":"flow.set('insTemp',msg.payload);","outputs":1,"noerr":0,"x":668.0000152587891,"y":512.2000160217285,"wires":[[]]},{"id":"92543fc9.785ff","type":"json","z":"d03b90f2.ff2a9","name":"","x":849.3000335693359,"y":296.8000373840332,"wires":[["34e9d653.ca5e5a"]]},{"id":"de0ed4dc.868838","type":"http in","z":"d03b90f2.ff2a9","name":"","url":"/data","method":"get","swaggerDoc":"","x":364.99998474121094,"y":295.20001220703125,"wires":[["c5e138f6.47cc88"]]},{"id":"c5e138f6.47cc88","type":"function","z":"d03b90f2.ff2a9","name":"nested data","func":"var data = {\n    insTemp: parseInt(flow.get('insTemp')),\n    outTemp: parseInt(flow.get('outTemp')),\n    desTemp: parseInt(flow.get('desTemp')),\n    compOnCtl: (flow.get('compOnCtl'))\n}\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":599.0000152587891,"y":297.20004653930664,"wires":[["92543fc9.785ff"]]},{"id":"34e9d653.ca5e5a","type":"http response","z":"d03b90f2.ff2a9","name":"","x":1051.0000457763672,"y":297.2000312805176,"wires":[]},{"id":"9a4a92d.847de7","type":"mqtt in","z":"d03b90f2.ff2a9","name":"","topic":"sliderSetting","broker":"9b0aa90e.8fa1f8","x":388.9999694824219,"y":395.20001220703125,"wires":[["f592c5bd.187ec8"]]},{"id":"f592c5bd.187ec8","type":"function","z":"d03b90f2.ff2a9","name":"set color flow vars","func":"var z = msg.payload;\nflow.set('desTemp',z)\nmsg.payload = z;\nreturn msg;","outputs":1,"noerr":0,"x":655.1999969482422,"y":401.40002822875977,"wires":[["6b9657a6.d4db88"]]},{"id":"59cc90d4.6edf5","type":"mqtt in","z":"d03b90f2.ff2a9","name":"","topic":"desTemp","broker":"9b0aa90e.8fa1f8","x":379.5999755859375,"y":672.3999977111816,"wires":[["71386e0a.661cf"]]},{"id":"71386e0a.661cf","type":"function","z":"d03b90f2.ff2a9","name":"set desTemp flow var","func":"flow.set('desTemp',msg.payload)","outputs":1,"noerr":0,"x":669.8000030517578,"y":645.0000953674316,"wires":[[]]},{"id":"6b9657a6.d4db88","type":"mqtt out","z":"d03b90f2.ff2a9","name":"","topic":"desTemp","qos":"","retain":"","broker":"9b0aa90e.8fa1f8","x":917.7999725341797,"y":402.00000381469727,"wires":[]},{"id":"8bf1116f.9848e","type":"mqtt in","z":"d03b90f2.ff2a9","name":"","topic":"compOnCtl","broker":"9b0aa90e.8fa1f8","x":389.41761779785156,"y":741.3266944885254,"wires":[["d84b6cb8.ce134"]]},{"id":"d84b6cb8.ce134","type":"function","z":"d03b90f2.ff2a9","name":"set compOnCtl flow var","func":"flow.set('compOnCtl',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":679.0994262695312,"y":713.0909461975098,"wires":[[]]}]